* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #202020;
}

body {
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
    object-position: center;
}

.categorias {
    display: grid;
    width: 100%;
    position: fixed;
    background: #202020;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 100px;
}

.hide {
    display: none;
}

.categoria {
    width: 90%;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 16px;
}

.categoria img {
    width: 30%;
    height: 100px;
}

.name_categoria {
    background: #4b4b4b;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: medium;
    font-weight: bolder;
}

.categoria:hover,
.producto:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(102, 102, 102, 0.8);
    -moz-box-shadow: 0px 0px 16px 3px rgba(102, 102, 102, 0.8);
    box-shadow: 0px 0px 16px 3px rgba(102, 102, 102, 0.8);
    transition: 250ms;
}

#productos {
    padding-top: 100px;
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
}

.producto {
    background: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 90%;
    margin: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.producto p {
    margin: 10px 0px;
    width: 100%;
    text-align: center;
}

.producto img {
    width: 100%;
    height: 200px;
}

nav {
    position: fixed;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: #202020;
}

.nav-butons {
    width: 60%;
    display: flex;
}

.nav-butons button {
    height: 50px;
    width: 100px;
    border: none;
    background: none;
    font-size: medium;
    font-weight: bolder;
    color: aliceblue;
}

.nav-butons button:hover {
    color: rgb(156, 161, 167);
    cursor: pointer;
}

.search {
    width: 20%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
}

.list-productos {
    position: absolute;
    top: 75px;
    right: 55px;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    overflow: auto;
}

.producto-item{
    height: 15%;
    display: flex;
    align-items: center;;
    background: #4b4b4b;
    color: aliceblue;
}

.producto-item p{
    width: 50%;
    margin: 0px 50px;
    white-space: nowrap;
    overflow: hidden;
}

.producto-item img{
    height: 100%;
    width: 30%;
}